
.container{
    min-height: 100vh;
    background-color: rgb(61, 99, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content{
    width: 60%;
    background-color: orange;
    height: 400px;
}
