.myproject{
    font-size: 36px;
    font-weight: bolder;
    font-family: inter;
    color: #fff;
    text-align: center;

}
.project{
    padding: 0 100px;
}
.myproject-pr{
    color: #01EEFF
}
.project .project-title{
    color: #02B1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-style: 600;
    margin: 12px 0 ;
}
.slide-image{
    width: 900px;
    min-width: 400;
    height: auto;
    min-height: 100;
    overflow: hidden;
    display: flex;
    
}
.project-carousel{
    display: flex;
    justify-content: center;
}
.project img{
    width: 100%;
    height: auto;
}
.project-technology{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 12px;
}
.project-technology > div{
    width: 108px;
    height: 108px;

}
.project .btn-src, .btn-review{
    padding: 8px 16px;
    border-radius: 8px;
    margin: 6px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

}
.project .btn-src {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #608DFF;
}
.project .btn-review{
    background-color: #01EEFF;
    font-size: 20px;
    font-weight:bold ;
}
.project .project-btn{
    display: flex;
    justify-content: center;
}
.circle{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #01EEFF;
    color: #01EEFF
}
.line{
    border: 1px solid #01EEFF ;
    height: 1px;
    margin: 12px 60px;
}

@media only screen and (max-width: 768px) {
    .project{
        padding: 0 40px;;
    }
    .slide-image{
        width: 400px;
        height: 150px;
    }
    .project .btn-src,.project .btn-review{
        font-size: 14px;
        font-weight: 500;
    }
    .project-technology > div{
        width: 80px;
        height: 80px;
    }
    .myproject{
        font-size: 28px;
    }
    .project .project-title{
        font-size: 16px;
    }
}