*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* @media only screen and (min-width: 768px) { */
.container {
    /* width: 100%; */
    height: 100vh;
    background-color: #4a148c;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form {
    background-color: #fff;
    width:400px;
    border-radius: 5px;
    /* text-align: center; */
    padding: 10px 50px;
    
}
.form-input{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    gap: 5px;
    
}
/* .inputPassword{
    position: relative;
} */
.fa-eye{
    color: #FF6F00;
    /* position: relative;
    top: -23px;
    left: 270px; */
    cursor: pointer;
    

}
input{
    /* padding: 5px 10px; */
    text-align: center;
    border-radius: 5px;
    border:none;
    outline: none;
    color:#4a148c;
    outline: #4a148c;
    width: 100%; 
}
label{
    color: #4a148c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    color:#FF6F00;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input::placeholder{
    font-style: italic;
    color: #E1BEE7
}
.btn{
    text-align: center;
    margin-bottom: 10px;
}
button{
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    background-color: #FF6F00;
    color: #4a148c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    margin-top:10px;
}
.register{ 
    text-align: center;
}
p{
    color: #6A1B9A;
    font-family: Arial;
}
a{
    color: #1976D2  
}
.input{
        display: flex;
        border: 1px solid #6A1B9A;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
    }
@media only screen and (max-width:768px){
    .form {
    background-color: #fff;
    width:400px;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0 20px;
    
    }
    .input{
        display: flex;
        border: 1px solid #6A1B9A;
        align-items: center;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    button{
        margin-top: 10px
    }
    p{
        font-size: 14px;
    }
}


