@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
p{
    margin:0;
}
.about{
    margin-top:16px;
    background-color: #151925;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    flex-wrap: wrap;
}
.about .about-title-1, .about-title-2{
    font-family: inter;
    font-weight: bolder;
}
.about .about-title-1{
    font-size: 32px;
}
.about .about-title-2{
    font-size: 72px;
}
.about .about-major{
    color:#01EEFF
}
.image{
    background-color: #01EEFF;
    width: 400px;
    height: 400px;
    min-width: 280px;
    min-height: 280px;
    border-radius: 50%;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .about-icons{
    display: flex;
    gap: 16px;
    margin-top: 8px;
}
.circle{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #01EEFF;
    color: #01EEFF
}
.about .about-btn-reviewcv{
    padding: 8px 20px;
    background-color: #01EEFF;
    border-radius: 6px;
    font-family: inter;
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin:12px 0;

}
.about-btn-reviewcv:hover{
    background-color: #22c0cb;
    cursor: pointer;
}

@media (max-width: 1157px){
    .about{
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    .about .about-title-1{
        font-size: 16px;
    }
    .about .about-title-2{
        font-size: 28px;
    }
    .image{
        width: 280px;
        height: 280px;
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0;
    }
    
}
